@model List<string>

@{
    Layout = null;
}


    @foreach (var dropdown in Model)
    {
        <div class="dropdown">
            @Html.DropDownList(dropdown, null, "Como Conheceu?", htmlAttributes: new { @class = "form-control" })
        </div>

    }
