@model IEnumerable<ClinicaExemplo.MVC.ViewModels.AgendamentoViewModel>

@{
    ViewBag.Title = "Index";
}

<div style="width:70%; border:3px solid;  text-align:center; height:70%; margin-left:15%; margin-right:10%">

    <div style="width:100%; float:none; position:center; border:2px solid; text-align:center;  border-color:white;">
        <h2>Agendamento de Consultas</h2>
    </div>

    <div id="carregaDropDown"></div>
    <div style="text-align:center; border:10px solid; border-color:white; width:100%; position:relative; margin-top:60px; border-color:white; ">
        <button id="carregarProf" class="botao">Pesquisar Profissionais</button>
    </div>

    <div id="carregaProfissional"></div>
</div>
@section scripts {
    <script>

        $(document).ready(function () {

            $.ajax({
                type: "GET",
                url: "/Agendamento/ObterEspecialidade/",
                contentType: 'html',
                success: function (response) {
                    $("#carregaDropDown").children().remove();
                    $("#carregaDropDown").html(response); // HTML retornado do Controller
                },
                error: function (errorData) {
                    console.log(errorData);
                }
            });

            $('#carregarProf').click(function () {

                var id = $('#carregaDropDown option:selected').val() + ";" +  $('#carregaDropDown option:selected').text();
                console.log(id);

                $.ajax({
                    type: "GET",
                    url: "/Agendamento/ObterProfissional/"+id,
                    contentType: 'html',
                    success: function (response) {

                        $("#carregaProfissional").children().remove();
                        $("#carregaProfissional").html(response); // HTML retornado do Controller
                    },
                    error: function (errorData) {
                        console.log(errorData);
                    }
                });
            });

        });

    </script>
}